# MongoDB Atlas Connection
MONGODB_URI="mongodb+srv://shangminch_db_user:<db_password>@cluster0.j5swrh.mongodb.net/?appName=Cluster0"
MONGODB_DB_NAME="mongomatch"

# AI / LLM Keys
GEMINI_API_KEY=""
OPENAI_API_KEY=""
